:root {
    --font-family: "BrownFtv", "Roboto", "Helvetica", sans-serif;
    --font-size: 16px;
    --color-yellow: #ffc300;
    --color-black: #232323;
    --color-gray: #d7dfe8;
    --gutter-size: 1.5rem;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.center-test {
    width:100%;
    display: flex;
    justify-content: center;
}

@media (min-width:1080px) {

    #candidat-container {
    width:50%;
    }

}

/* CSS - article */

.article-container {
    display: flex;
    justify-content: center;
}

/* CSS - cards-container */

#cards-container {
    display: flex;
    flex-flow: column;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.cards-title {
    font-size: 1.375em;
    text-align: center;
}

.cards-legend {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-legend-p {
    margin:0.3em;
    font-size: .9375em;
}

.cards-sub-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;

}

.card-solo-container {
    display:flex;
    flex-flow:column;
    max-width:100px;
    min-width:50px;
}


.card-solo-img-container{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: .4em solid;
    margin-right:.2em;
    margin-left: .2em;
    margin-bottom: 0em;
    padding:0.1em 0.1em 0em 0.1em;
    background-color: #e9e9e9;
}

.lien-ancre {
    display: flex;
    align-items: flex-end;
}

.card-solo-img {
    width:100%;
}

.card-solo-text {
    color:gray;
    display:flex;
    justify-content: center;
    margin-top: 0.1em;
    font-size: .8em;
    padding:0.1em;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/* CSS - forms-container */

/* sticky title */
.tab-container {
    display: flex;
    justify-content:center;
    align-items: flex-end;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: #ffffff;
    top: 0;
}

.tab-title {
    width:90%;
    font-size: 1.375em;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.3em solid black;
    margin-bottom: 0.2em;
}

/* form content */

.forms-part {
    display:flex;
    flex-flow: column;
    justify-content: center;
}

.forms-container {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-container-solo {
    display: flex;
    flex-flow: column;
    scroll-margin-top: 3.5em;
    border-bottom: 0.1em solid gray;
}

.form-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.form-p {
    margin-top:0em;
    margin-bottom: 0.5em;
}

.form-img-citation {
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 0.8em;
}

.form-citation {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}


.form-img {
    width:90%;
    max-width: 100px;
    min-width:50px;
    border-bottom: .4em solid;
    background-color: #e9e9e9;
    padding:0.1em 0.1em 0em 0.1em;
    margin-right:0.4em;
}

